@import '../../../styles/variables';
@import '../../../styles/mixins';

.social-links-manager {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: $spacing-8;

        @include mobile {
            flex-direction: column;
            gap: $spacing-4;
            align-items: stretch;
        }

        h2 {
            font-size: $font-size-2xl;
            font-weight: $font-weight-semibold;
            color: $color-gray-900;
            margin: 0;
        }
    }

    &__loading {
        @include flex-center;
        @include flex-column;
        padding: $spacing-16 0;
        text-align: center;

        .spinner {
            @include spinner;
            margin-bottom: $spacing-4;
        }

        p {
            color: $color-gray-600;
            font-size: $font-size-lg;
        }
    }

    &__error {
        text-align: center;
        padding: $spacing-8;
        background-color: $color-gray-50;
        border-radius: $border-radius-lg;
        border: 1px solid $color-gray-200;

        h3 {
            color: $color-gray-900;
            margin: 0 0 $spacing-2 0;
        }

        p {
            color: $color-gray-600;
            margin: 0 0 $spacing-4 0;
        }
    }

    &__empty {
        text-align: center;
        padding: $spacing-16 0;

        h3 {
            font-size: $font-size-xl;
            color: $color-gray-900;
            margin: 0 0 $spacing-4 0;
            font-weight: $font-weight-light;
        }

        p {
            color: $color-gray-600;
            margin: 0 0 $spacing-6 0;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: $spacing-4;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: $spacing-4;
        padding: $spacing-4;
        background-color: $color-white;
        border: 1px solid $color-gray-200;
        border-radius: $border-radius-lg;
        transition: all $transition-normal;

        &:hover {
            box-shadow: $shadow-md;
            transform: translateY(-1px);
        }
    }

    &__icon {
        font-size: $font-size-xl;
        width: 40px;
        height: 40px;
        @include flex-center;
        background-color: $color-gray-100;
        border-radius: $border-radius-md;
    }

    &__info {
        flex: 1;
        min-width: 0;
    }

    &__platform {
        font-size: $font-size-base;
        font-weight: $font-weight-semibold;
        color: $color-gray-900;
        margin-bottom: $spacing-1;
    }

    &__url {
        font-size: $font-size-sm;
        color: $color-gray-600;
        @include text-truncate;
    }

    &__actions {
        display: flex;
        gap: $spacing-2;

        .social-links-manager__delete {
            background-color: $color-gray-100;
            color: $color-gray-700;

            &:hover {
                background-color: $color-gray-200;
                color: $color-gray-900;
            }
        }
    }
}