@import '../../../styles/variables';
@import '../../../styles/mixins';

.spinner {
    @include spinner;

    &--sm {
        width: 16px;
        height: 16px;
        border-width: 2px;
    }

    &--md {
        width: 24px;
        height: 24px;
        border-width: 2px;
    }

    &--lg {
        width: 32px;
        height: 32px;
        border-width: 3px;
    }
}